:root {
  --c0: #2b3a55;
  --c1: #ce7777;
  --c2: #e8c4c4;
  --c3: #f2e5e5;

  padding: 0;
  margin: 0;

  --vPad: 94px;
  --hPad: 94px;
  --main-gap: 1rem;
  --content-gap: 3rem;
  --social-media-gap: 20px;
  --project-width: 450px;
}
a {
  color: inherit;
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0;
  margin: 0;
  background-color: var(--c0);
  color: whitesmoke;
}
.main {
  display: flex;
  gap: var(--main-gap);
  padding: 0 var(--hPad);
  margin: 0;
}

header {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: 0;
  max-height: 100vh;
  box-sizing: border-box;
  padding: var(--vPad) 0;
}
header ul.social-media {
  display: flex;
  gap: var(--social-media-gap);
}
header svg {
  fill: whitesmoke;
  height: 32px;
  width: 32px;
}
header h5 {
  margin-top: 8px;
}
header p {
  margin-top: 16px;
  margin-bottom: 0px;
  font-weight: 300;
  font-size: 14px;
}
header nav {
  margin-top: 60px;
  font-weight: 300;
  font-size: 0.9rem;
  line-height: 2;
}

.content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: var(--content-gap);
  padding: var(--vPad) 0;
}
.content * {
  margin: 0;
}
.project {
  width: var(--project-width);
  aspect-ratio: 16/9;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
}
.project img {
  border-radius: 6px;
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.project .description {
  background: linear-gradient(0deg, var(--c0) 80%, transparent);
  display: flex;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  justify-content: flex-end;
  flex-direction: column;
  padding-left: var(--main-gap);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transform: translateY(+100%);
  transition: transform 1.5s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 0.9s;
}
.project:hover .description {
  transform: translateY(0);
  opacity: 1;
}
.project p {
  margin: 0 0 1rem 0;
}
.project .technologies {
  margin: 0;
  padding: 0 0 1rem 0;
  display: flex;
  gap: 1rem;
  overflow-x: auto;
}
.project .technologies span {
  border: 1px solid white;
  border-radius: 6px;
  padding: 3px 10px;
}
.project h4 {
  margin: 0 0 1.1rem 0;
}

section#about {
  line-height: 1.7rem;
}
section#projects .project {
  margin-bottom: 3rem;
}
section#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.6rem;
}
#email {
  outline: none;
  border: 1px solid white;
  font-size: 1.1rem;
  padding: 0.7em 1.7rem;
  border-radius: 6px;
}
